@{
    Layout = "_Layout";
}

@model BlitzFlug.Models.User

<div class="text-center" style="margin-top: 150px">
    <h2>Личный кабинет</h2>
</div>

<form method="get" asp-controller="Orders" asp-action="OrdersHistory">
    <button type="submit" class="btn btn-primary" style="margin-top: 15px">История заказов</button>
</form>
<form method="post" asp-controller="Users" asp-action="Settings">
    <div class="form-group" style="margin-top: 25px">
        <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Адрес электронной почты">
    </div>
    <div class="form-group" style="margin-top: 25px">
        <input asp-for="FirstName" class="form-control" id="exampleInputPassword1" placeholder="Имя">
    </div>
    <div class="form-group" style="margin-top: 25px">
        <input asp-for="LastName" class="form-control" id="exampleInputPassword1" placeholder="Фамилия">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 25px">Подтвердить изменения</button>
    @if (null != ViewData["SettingsError"])
    {
        <h3>@ViewData["SettingsError"]</h3>
    }
</form>
