@{
    Layout = "_Layout";
}

@model BlitzFlug.Models.Ticket

<div class="text-center" style="margin-top: 150px">
    <h2>Добавить новый рейс</h2>
</div>
<form method="post" asp-controller="Tickets" asp-action="InsertTicket">
    <div class="form-group" style="margin-top: 25px">
        <input asp-for="FlightId" min="1" class="form-control" placeholder="ID рейса" required>
    </div>
    <div class="form-group" style="margin-top: 25px">
        <label>Билет забронирован</label>
        <input asp-for="OrderId" type="checkbox">
    </div>
    <div class="form-group" style="margin-top: 25px">
        <input asp-for="Row" min="1" class="form-control" placeholder="Ряд" required>
    </div>
    <div class="form-group" style="margin-top: 25px">
        <select asp-for="Place" required>
            <option value="" selected>Место</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="J">J</option>
            <option value="K">K</option>
        </select>
    </div>
    <div class="form-group" style="margin-top: 25px">
        <select asp-for="Class" required>
            <option value="" selected>Класс</option>
            <option value="эконом">Эконом</option>
            <option value="первый">Первый</option>
            <option value="бизнес">Бизнес</option>
        </select>
    </div>
    <div class="form-group" style="margin-top: 25px">
        <label>Возможность возврата</label>
        <input asp-for="Refund" type="checkbox">
    </div>
    <div class="form-group" style="margin-top: 25px">
        <input asp-for="Price" class="form-control" placeholder="Стоимость" required>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 25px">Добавить</button>
</form>
