@{
    Layout = "_Layout";
}

@model BlitzFlug.Models.Ticket

<div class="container">
    <div class="text-center" style="margin-top: 150px">
        <h2>Управление билетами</h2>
    </div>
    <form method="get" asp-controller="Tickets">
        <div class="form-group" style="margin-top: 25px">
            <input asp-for="Id" class="form-control" min="1" placeholder="ID билета" required>
        </div>
        <button asp-action="AFindTicket" type="submit" class="btn btn-primary" style="margin-top: 25px; width: 250px">Найти</button>
    </form>
    <form method="get" asp-controller="Tickets">
        <div class="form-group" style="margin-top: 25px">
            <input asp-for="FlightId" class="form-control" min="1" placeholder="ID рейса" required>
        </div>
        <button asp-action="AFindTicketsByFlight" type="submit" class="btn btn-primary" style="margin-top: 25px; width: 250px">Найти по рейсу</button>
    </form>
    <form method="get" asp-controller="Tickets">
        <button asp-action="AFindTickets" type="submit" class="btn btn-primary" style="margin-top: 25px; width: 250px">Все билеты</button>
    </form>
    <form method="get" asp-controller="Tickets" asp-action="InsertTicket">
        <button type="submit" class="btn btn-primary" style="margin-top: 25px; width: 250px">Добавить билет</button>
    </form>
</div>
