@{
    Layout = "_Layout";
}

@model BlitzFlug.Models.Flight

<div class="container">
    <div class="text-center" style="margin-top: 150px">
        <h2>Управление рейсами</h2>
    </div>
    <form method="get" asp-controller="Flights">
        <div class="form-group" style="margin-top: 25px">
            <input asp-for="Id" class="form-control" min="1" placeholder="ID рейса" required>
        </div>
        <button asp-action="FindFlight" type="submit" class="btn btn-primary" style="margin-top: 25px; width: 250px">Найти</button>
    </form>
    <form method="get" asp-controller="Flights">
        <button asp-action="FindAllFlights" type="submit" class="btn btn-primary" style="margin-top: 25px; width: 250px">Все рейсы</button>
    </form>
    <form method="get" asp-controller="Flights" asp-action="InsertFlight">
        <button type="submit" class="btn btn-primary" style="margin-top: 25px; width: 250px">Добавить рейс</button>
    </form>
</div>
