@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 150px">
    <h2>Welcome to BlitzFlug</h2>
    <p>Are you planning a trip? Then <a href="Flights/Index">buy tickets</a>.</p>
    <p>Here you can see all our <a href="Planes/Index">planes</a>.</p>
</div>
